<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-material-design/0.5.9/css/ripples.min.css">
</head>
