<head>
    <meta charset="UTF-8">
    <title><%= title %> - Aim</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/stylesheets/ripples.min.css">
</head>
