<!DOCTYPE html>
<html lang="zh">
<%- include('includes/head', { title: '聊天'}) %>
<body>
<header>
    <nav class="navbar navbar-default shadow-4dp">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Aim</a>
            </div>
        </div>
    </nav>
</header>
<main>
</main>
<%- include('includes/foot') %>
</body>
</html>
